.coinConverter {
  h2 {
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    font-weight: 700;
  }
}
.converterInputWrapper {
  display: flex;
  align-items: center;
}

.converterInputBackgroundWrapper {
  width: 100%;
  border: 1px solid #dcdcdc;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  input {
    width: 90%;
    padding: 0.5rem;
    border: none;
    outline: none;
    text-align: left;
  }
  span {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: var(--font-secondary);
    color: var(--color-secondary);
  }
}
.converterInputWrapper:nth-of-type(2) .converterInputBackgroundWrapper {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
