.coin {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.coinWrapper {
  display: flex;
  width: 256px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.imgWrapper {
  img {
    height: 56px;
    width: 100%;
    object-fit: cover;
  }
}
.coinName {
  font-weight: 700;
  margin-left: 16px;
  p {
    font-size: 24px;
    line-height: 24px;
    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: var(--color-secondary);
    }
  }
}

.coinRank {
  margin-left: 16px;
  background-color: var(--color-secondary);
  border-radius: 5px;
  padding: 0 4px;
}

.coinPriceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-size: 32px;
    font-weight: 700;
    font-family: var(--font-secondary);
  }
  span {
    font-size: 14px;
  }
  .coinPricePercentageWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    span {
      display: flex;
      font-size: 14px;
      margin-left: 8px;
      gap: 8px;
    }
  }
}
