.sectionWrapper {
  width: 100%;
  flex-direction: column;
  min-height: 30dvh;
  display: flex;
  align-items: center;
  padding: 0px 64px 120px 64px;
  gap: 64px;
  position: relative;
  overflow: hidden;

  hr {
    width: 100%;
  }

  h1 {
    line-height: 120%;
    max-width: 406px;
    font-size: 2.25rem;
  }
}
