.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  width: 100%;
  gap: 2rem;
  height: 100dvh;

  .breadcrumb {
    width: 100%;
  }
  .mainContentInfos {
    width: 100%;
    height: 38.875rem;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
