.tableWrapper {
  tr {
    font-family: 'Source Sans 3', sans-serif;
    display: flex;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  tr:has(td):hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }

  th {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 36px;
  }

  td {
    font-size: 14px;
    font-family: 'Source Sans 3', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    border-bottom: 1px solid #d2d2d2;

    img {
      width: 32px;
      height: 32px;
    }

    span {
      font-family: 'Source Sans 3', sans-serif;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.paginationWrapper {
  width: 100%;
  max-width: 974px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    color: #7d7d7d;
  }
}
